.hero {
  padding: 4rem;
  display: flex;
  flex-direction: column;
}
.hero .title {
  display: flex;
  flex: 1;
  margin-left: -16rem;
}
.hero .title-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}
.hero .title-container h1 {
  color: rgb(29, 29, 29);
  font-size: 8rem;
  line-height: 5rem;
  transition: 300ms;
}
.hero .title-container h3 {
  font-size: 5rem;
  transition: 300ms;
}
.hero .separator {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.hero .separator hr {
  width: 400px;
  height: 1px;
  opacity: 20%;
}
.hero .paragraph {
  font-size: 1.3rem;
  text-align: right;
  margin-right: 3rem;
}
.hero .about-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .about-button button {
  color: white;
  background-color: #c94343;
  font-size: 1.2rem;
  padding: 1rem 4rem;
  border: none;
  transition: 300ms;
}
.hero .about-button button:hover {
  background-color: #db7a7a;
}
.hero .title, .hero .about-button {
  flex: 1;
}

.circle {
  background-color: rgb(218, 164, 164);
  width: 256px;
  height: 256px;
  align-self: center;
}

#primary {
  color: rgb(131, 48, 48);
}

@media screen and (max-width: 1270px) {
  .hero .title-container h1 {
    font-size: 5rem;
    line-height: 3rem;
  }
  .hero .title-container h3 {
    font-size: 3rem;
  }
  .hero .title {
    margin: -6rem 0 -5rem -13rem;
  }
  .hero .paragraph {
    font-size: 1rem;
    margin-right: 0;
  }
  .circle {
    width: 186px;
    height: 186px;
  }
}
@media screen and (max-width: 760px) {
  .hero .title {
    margin-top: -6rem;
  }
  .hero .title-container h1 {
    font-size: 4rem;
  }
  .hero .title-container h3 {
    font-size: 2rem;
  }
  .hero .about-button button {
    font-size: 1rem;
    padding: 1rem 2rem;
  }
}
@media screen and (max-width: 400px) {
  .hero {
    padding: 2rem;
  }
  .hero .title-container h1 {
    font-size: 3rem;
  }
  .hero .title-container h3 {
    font-size: 2rem;
  }
  .hero .title {
    margin-left: -9rem;
  }
  .hero .paragraph {
    font-size: 0.8rem;
    margin-right: 0;
  }
  .circle {
    width: 150px;
    height: 150px;
  }
  .about-button {
    margin-top: -6rem;
    margin-bottom: -6rem;
  }
}
@media screen and (max-width: 350px) {
  .hero .title {
    margin-left: -6rem;
  }
  .circle {
    width: 120px;
    height: 120px;
  }
}
.about {
  display: flex;
  flex-direction: column;
  background-color: rgb(241, 235, 245);
  position: relative;
  background-image: url("/public/images/about-background.jpg");
  background-size: contain;
  overflow: hidden;
}

.about-container {
  display: flex;
  flex: 1;
}
.about-container .side-image {
  flex: 1;
}
.about-container .content {
  padding-top: 10rem;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  align-items: center;
  flex: 3;
  background: rgb(224, 224, 224);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(235, 233, 240) 10%);
  position: relative;
}
.about-container .content p {
  text-align: center;
}
.about-container .content-title {
  font-size: 3rem;
  color: rgb(39, 39, 39);
}
.about-container .content-text {
  width: 50%;
  font-size: 1.4rem;
}
.about-container .bg-circle {
  position: absolute;
  top: -350px;
  right: -350px;
  width: 800px;
  height: 800px;
  opacity: 10%;
}

.stroke {
  background-color: rgba(126, 126, 126, 0.2);
  flex: 1;
  height: 1px;
}

@media screen and (max-width: 1000px) {
  .about-container .content-title h1 {
    font-size: 3rem;
  }
  .about-container .content {
    background-color: #faeaff;
  }
  .about-container .bg-circle {
    position: absolute;
    top: -350px;
    right: -350px;
    width: 600px;
    height: 600px;
    opacity: 10%;
  }
  .about-container .content-text {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 760px) {
  .side-image {
    display: none;
  }
  .about-container .content-text {
    width: 80%;
  }
}
.services {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.services .title {
  display: flex;
  gap: 1.4rem;
  align-items: center;
  margin-left: -14rem;
}
.services .title h1 {
  font-size: 6rem;
  color: rgb(39, 39, 39);
}
.services .circle {
  width: 200px;
  height: 200px;
}
.services .item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.services .item-container h1 {
  font-size: 2rem;
  color: rgb(39, 39, 39);
}
.services .item-text {
  flex: 1;
}
.services hr {
  width: 40%;
  align-self: center;
  opacity: 15%;
}

.service-list {
  margin-top: 4rem;
  margin-bottom: 6rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5rem;
  column-gap: 4rem;
  flex: 1;
}
.service-list p {
  font-size: 1.2rem;
}
.service-list img {
  width: 156px;
  height: 156px;
  filter: drop-shadow(1px 1px 3px rgba(34, 34, 34, 0.2));
}

#bottom-row {
  grid-column: 1/3;
  display: flex;
}
#bottom-row .item-text {
  flex: 0.4;
}

.info-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 5rem;
  width: 70%;
  align-self: center;
  border-radius: 48px;
  background: rgb(241, 235, 255);
  background: linear-gradient(141deg, rgb(241, 228, 255) 0%, rgb(255, 243, 249) 100%);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
.info-section h1 {
  color: rgb(29, 29, 29);
  font-size: 5rem;
  text-align: center;
  margin-bottom: 3rem;
}
.info-section h2 {
  font-size: 2.5rem;
}
.info-section p {
  font-size: 1.4rem;
}

.info-top {
  text-align: center;
  margin-bottom: 2rem;
}

.info-list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

@media screen and (max-width: 1060px) {
  .service-list {
    display: flex;
    flex-direction: column;
  }
  #bottom-row .item-text {
    flex: 1;
  }
  .info-section {
    padding: 3rem;
    width: 90%;
  }
  .info-section h1 {
    font-size: 3rem;
  }
  .info-section h2 {
    font-size: 2rem;
  }
  .info-section p {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 760px) {
  .service-list img {
    width: 128px;
    height: auto;
  }
  .service-list p {
    font-size: 1rem;
  }
  .services .item-container h1 {
    font-size: 1.5rem;
  }
  .services .title {
    margin-left: -11rem;
  }
  .services .title h1 {
    font-size: 4rem;
  }
  .services .circle {
    width: 140px;
    height: 140px;
  }
  .info-section h1 {
    font-size: 2.2rem;
  }
  .info-section h2 {
    font-size: 1.5rem;
  }
  .info-section p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .service-list img {
    width: 64px;
    height: auto;
  }
  .service-list p {
    font-size: 1rem;
  }
  .services {
    padding: 1rem;
  }
  .services .item-container {
    gap: 1rem;
  }
  .services .item-container h1 {
    font-size: 1.2rem;
  }
  .services .item-container p {
    font-size: 0.8rem;
  }
  .services .title {
    margin-left: -6rem;
  }
  .services .title h1 {
    font-size: 2.5rem;
  }
  .services .circle {
    width: 100px;
    height: 100px;
  }
  .info-section {
    padding: 2rem;
  }
  .info-section h1 {
    font-size: 1.5rem;
  }
  .info-section h2 {
    font-size: 1.2rem;
  }
  .info-section p {
    font-size: 1rem;
  }
  .info-section .info-list {
    gap: 2rem;
  }
}
.experience {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 4rem 10rem;
  background-color: #f1eaf5;
  background: radial-gradient(circle, transparent 20%, #f1eaf5 20%, #f1eaf5 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #f1eaf5 20%, #f1eaf5 80%, transparent 80%, transparent) 27.5px 27.5px, linear-gradient(#ffdddd 2.2px, transparent 2.2px) 0 -1.1px, linear-gradient(90deg, #e2ddff 2.2px, #f1eaf5 2.2px) -1.1px 0;
  background-size: 55px 55px, 55px 55px, 27.5px 27.5px, 27.5px 27.5px;
}

.experience-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 7rem;
  flex: 1;
}
.experience-container h1 {
  font-size: 4rem;
  text-align: center;
  color: rgb(39, 39, 39);
}

.experience-title {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.companies {
  display: grid;
  flex: 1;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}
.companies .company-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.companies .company-img img {
  transition: 300ms;
}
.companies .company-img img:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}
.companies #sharp img {
  height: 300px;
  width: auto;
}
.companies #arcadia img {
  height: 300px;
  width: auto;
}
.companies #transperfect {
  grid-column: 1/3;
}
.companies #transperfect img {
  height: 300px;
  width: auto;
}

.custom-shape-divider-top-1706026637 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1706026637 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 46px;
  filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.1));
}

.custom-shape-divider-top-1706026637 .shape-fill {
  fill: #EEDDCD;
}

.reviews {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 4rem;
}
.reviews .title {
  display: flex;
  gap: 1.4rem;
  align-items: center;
  margin-right: -14rem;
}
.reviews .title h1 {
  font-size: 6rem;
  color: rgb(39, 39, 39);
}
.reviews .circle {
  width: 200px;
  height: 200px;
}
.reviews .stroke {
  background-color: rgba(126, 126, 126, 0.2);
  flex: 1;
  height: 1px;
}

.reviews-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.reviews-container .card {
  display: flex;
  gap: 3rem;
  border-radius: 48px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  margin: 2rem;
  padding: 4rem;
  background: rgb(246, 239, 233);
  background: linear-gradient(90deg, rgb(246, 239, 233) 0%, rgb(252, 229, 229) 100%);
}
.reviews-container .card .card-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.reviews-container .card .card-side img {
  border-radius: 100%;
  background-color: white;
}
.reviews-container .card .card-separator {
  background-color: rgb(161, 161, 161);
  width: 1px;
  height: 300px;
  align-self: center;
}
.reviews-container .card .card-content {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.reviews-container .card .card-content p {
  text-align: center;
}
.reviews-container .card .card-content img {
  height: 50px;
  width: auto;
}

#kelly {
  font-size: 1.2rem;
}

.contact {
  display: flex;
  background-color: #faeaff;
  position: relative;
  color: rgb(29, 29, 29);
}
.contact .socials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  gap: 3rem;
  padding: 6rem 0;
  background-color: #eed7d7;
}
.contact .socials-title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 1rem;
}
.contact .socials-title .circle {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -2rem;
  left: -6rem;
}
.contact .socials-title h1 {
  font-size: 4rem;
}
.contact .socials-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  align-self: center;
  text-align: center;
  width: 70%;
  font-size: 1.3rem;
}
.contact .contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  flex: 1;
  padding: 4rem 0;
}
.contact .contact-info .contact-top {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  margin-top: 6rem;
  flex: 1;
}
.contact .contact-info .working-hours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.contact .contact-info .working-hours h1 {
  font-size: 4rem;
}
.contact .contact-info .working-hours p {
  font-size: 2rem;
}
.contact .contact-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex: 1;
  gap: 1rem;
  width: 30%;
  padding: 2rem 0;
  margin-bottom: 5rem;
  background: rgb(241, 235, 255);
  background: linear-gradient(141deg, rgb(241, 235, 255) 0%, rgb(246, 243, 255) 100%);
  border-radius: 48px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.contact .contact-bottom h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.contact .contact-list {
  display: flex;
}
.contact .socials-logo img {
  width: 120px;
  height: 120px;
  transition: 300ms;
}
.contact .socials-logo img:hover {
  transform: scale(1.1);
}

footer {
  display: flex;
  background-color: #c94343;
  padding: 1rem;
}
footer .left-foot, footer .right-foot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
footer img {
  width: 150px;
  height: 140px;
  margin-top: -5rem;
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.2));
}
footer h3 {
  color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #eeddcd;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  gap: 8rem;
  background-color: #c94343;
}
header img {
  width: 120px;
  height: 100px;
}
header ul {
  display: flex;
  gap: 8rem;
  justify-content: space-between;
  list-style-type: none;
  font-size: 1.5rem;
}
header li {
  transition: 0.2s;
}
header li:hover {
  transform: scale(1.2);
}

a {
  color: white;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

section {
  min-height: 100vh;
  flex-grow: 1;
}

button {
  padding: 0.5rem 2rem;
  border-radius: 24px;
}

header button {
  color: white;
  font-size: 1.2rem;
  background-color: #c95e5e;
  border: none;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
  transition: 0.2s;
  padding: 1rem 4rem;
}

button:hover {
  cursor: pointer;
  color: black;
  background-color: #db7979;
}

.custom-shape-divider-top-1706461937 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1706461937 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 39px;
  z-index: 2;
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.3);
  filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.1));
}

.custom-shape-divider-top-1706461937 .shape-fill {
  fill: #EEDDCD;
}

.custom-shape-divider-bottom-1706461568 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1706461568 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 41px;
}

.custom-shape-divider-bottom-1706461568 .shape-fill {
  fill: #EEDDCD;
}

.circle {
  border-radius: 100%;
}

.colored-dot {
  color: #c94343;
}

@media screen and (max-width: 1500px) {
  header {
    justify-content: baseline;
    gap: 0;
  }
  header img {
    width: 90px;
    height: 80px;
  }
  header ul {
    gap: 3rem;
    font-size: 1.2rem;
  }
  header button {
    font-size: 1rem;
    padding: 1rem 2rem;
  }
}
@media screen and (max-width: 1000px) {
  header button {
    display: none;
  }
}
@media screen and (max-width: 760px) {
  header {
    justify-content: center;
    padding: 2rem;
  }
  header img {
    display: none;
  }
  header ul {
    gap: 2rem;
    font-size: 1rem;
    float: right;
  }
}
@media screen and (max-width: 580px) {
  header ul {
    font-size: 0.8rem;
    gap: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
