.about {
  display: flex;
  flex-direction: column;
  background-color: rgb(241, 235, 245);
  position: relative;
  background-image: url('../../../public/images/about-image.jpeg');
  background-size: contain;
  overflow: hidden;
}

.about-container {
  display: flex;
  flex: 1;

  .side-image {
    flex: 1;
  }

  .content {
    padding-top: 10rem;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    align-items: center;
    flex: 3;
    background: rgb(224, 224, 224);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgb(235, 233, 240) 15%);
    position: relative;

    p {
      text-align: center;
    }
  }

  .content-title {
    font-size: 3rem;
    color: rgb(39, 39, 39);
    font-family: 'Quicksand', sans-serif;
  }

  .content-text {
    color: rgb(66, 66, 66);
    width: 50%;
    font-size: 1.4rem;
  }

  .bg-circle {
    position: absolute;
    top: -350px;
    right: -350px;
    width: 800px;
    height: 800px;
    opacity: 10%;
  }
}

.stroke {
  background-color: rgba(126, 126, 126, 0.2);
  flex: 1;
  height: 1px;
}

@media screen and (max-width: 1000px) {
  .about-container {
    .content-title {
      h1 {
        font-size: 3rem;
      }
    }

    .content {
      background-color: #faeaff;;
    }

    .bg-circle {
      position: absolute;
      top: -350px;
      right: -350px;
      width: 600px;
      height: 600px;
      opacity: 10%;
    }

    .content-text {
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 760px) {
  .side-image {
    display: none;
  }

  .about-container {
    .content-text {
      width: 80%;
    }
  }
}

@media screen and (max-width: 350px) {
  .about-container {
    .content-title h1 {
      font-size: 2.5rem;
    }
  }
}