.hero {
  padding: 4rem 0 4rem 4rem;
  display: flex;
  flex-direction: column;

  .title {
    display: flex;
    flex: 1;
    margin-left: -16rem;
    font-family: 'Quicksand', sans-serif;
  }

  .title-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;

    h1 {
      color: rgb(39, 39, 39);
      font-size: 8rem;
      line-height: 5rem;
      transition: 300ms;
    }

    h3 {
      font-size: 5rem;
      transition: 300ms;
    }
  }

  .separator {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    hr {
      width: 400px;
      height: 1px;
      opacity: 20%;
    }
  }

  .paragraph {
    color: rgb(39, 39, 39);
    font-size: 1.5rem;
    text-align: right;
    margin-right: 3rem;
  }

  .about-button {
    display: flex;
    justify-content: center;
    align-items: center;
   
    button {
      color: white;
      background-color: #c94343;
      font-size: 1.2rem;
      padding: 1rem 4rem;
      border: none;
      transition: 300ms;
    }

    button:hover {
      background-color: #db7a7a;
    }

  }

  .title, .about-button {
    flex: 1;
  }
}

.circle {
  background-color: rgb(218, 164, 164);
  width: 256px;
  height: 256px;
  align-self: center;
}

#primary {
  color: rgb(131, 48, 48);
}

@media screen and (max-width: 1270px) {
  .hero {
    padding: 1rem;
    
    .title-container {
      h1 {
        font-size: 5rem;
        line-height: 3rem;
      }
  
      h3 {
        font-size: 3rem;
      }
    } 
    
    .title {
      margin: -6rem 0 -5rem -13rem;
    }

    .paragraph {
      font-size: 1rem;
      margin-right: 0;
    }
  }

  .circle {
    width: 186px;
    height: 186px;
  }
}

@media screen and (max-width: 760px) {
  .hero {
    .title {
      margin-top: -6rem;
    }

    .title-container {
      h1 {
        font-size: 4rem;
      }
  
      h3 {
        font-size: 2rem;
      }
    } 

    .about-button button {
      font-size: 1rem;
      padding: 1rem 2rem;
    }
  }
}

@media screen and (max-width: 400px) {
  .hero {
    padding: 2rem;

    .title-container {
      h1 {
        font-size: 3rem;
      }
  
      h3 {
        font-size: 2rem;
      }
    }

    .title {
      margin-left: -9rem;
    }

    .paragraph {
      font-size: 0.8rem;
      margin-right: 0;
    }
  }

  .circle {
    width: 150px;
    height: 150px;
  }

  .about-button {
    margin-top: -6rem;
    margin-bottom: -16rem;
  }
}

@media screen and (max-width: 350px) {
  .hero {
    margin-top: -8rem;

    .title {
      margin-left: -6rem;
      margin-bottom: -13rem;
    }

    .paragraph {
      margin-bottom: -5rem;
    }
  }

  .circle {
    width: 120px;
    height: 120px;
  }
}