.reviews {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 4rem;

  .title {
    display: flex;
    gap: 1.4rem;
    align-items: center;
    margin-right: -14rem;
    font-family: 'Quicksand', sans-serif;

    h1 {
      font-size: 6rem;
      color: rgb(39, 39, 39);
    }
  }

  .circle {
    width: 200px;
    height: 200px;
    overflow: hidden;
  }

  .stroke {
    background-color: rgba(126, 126, 126, 0.2);
    flex: 1;
    height: 1px;
  }
}

.reviews-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 48px;
    box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.2);
    margin: 2rem;
    padding: 4rem;
    background: rgb(246,239,233);
    background: linear-gradient(90deg, rgba(246,239,233,1) 0%, rgba(252,229,229,1) 100%);

    #kelly p {
      font-size: 1.6rem;
    }

    #colo p {
      font-size: 1.2rem;
    }

    .card-content {
      flex: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      p {
        color: rgb(50, 50, 50);
        font-size: 1.2rem;
        text-align: center;
      }

      img {
        height: 65px;
        width: auto;
      }
    }

    h3 {
      color: rgb(29, 29, 29);
      text-align: right;
      font-size: 1.4rem;
    }
  }
}

@media screen and (max-width: 1200px) {
  .reviews-container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 950px) {
  .reviews {
    .title {
      margin-right: -11rem;

      h1 {
        font-size: 4rem;
      }
    }

    .circle {
      width: 150px;
      height: 150px;
    }
  }
}

@media screen and (max-width: 650px) {
  .reviews {
    padding: 1rem;

    .title {
      margin-right: -7rem;

      h1 {
        font-size: 3rem;
      }
    }

    .circle {
      width: 115px;
      height: 115px;
    }
  }

  .reviews-container {
    .card {
      padding: 2.4rem;

      #kelly p {
        font-size: 1.1rem;
      }
  
      #colo p {
        font-size: 1rem;
      }

      .card-content {
        p {
          font-size: 1rem;
        }

        img {
          height: 40px;
        }
      }

      h3 {
        font-size: 1.2rem;
      }
    }

  }
}

@media screen and (max-width: 480px) {
  .reviews {
    padding: 1rem;
    padding-top: 4rem;

    .title {
      margin-right: -6rem;

      h1 {
        font-size: 2.5rem;
      }
    }

    .circle {
      width: 100px;
      height: 100px;
    }
  }
}

@media screen and (max-width: 360px) {
  .reviews {

    .title {
      margin-right: -4rem;
      margin-bottom: -4rem;

      h1 {
        font-size: 2rem;
      }
    }

    .circle {
      width: 90px;
      height: 90px;
    }
  }

  .reviews-container {
    .card {
      padding: 1.2rem;

      #kelly p {
        font-size: 0.9rem;
      }
  
      #colo p {
        font-size: 0.9rem;
      }

      .card-content {
        p {
          font-size: 0.8rem;
        }

        img {
          height: 35px;
        }
      }

      h3 {
        font-size: 0.9rem;
      }
    }
  }
}