.services {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  position: relative;

  .title {
    display: flex;
    gap: 1.4rem;
    align-items: center;
    margin-left: -14rem;
    font-family: 'Quicksand', sans-serif;

    h1 {
      font-size: 6rem;
      color: rgb(39, 39, 39);
    }
  }

  .circle {
    width: 200px;
    height: 200px;
  }

  .item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    h1 {
      font-size: 2rem;
      color: rgb(124, 45, 45);
    }
  }

  .item-text {
    flex: 1;
  }

  hr {
    width: 40%;
    align-self: center;
    opacity: 15%;
  }
}

.service-list {
  margin-top: 4rem;
  margin-bottom: 6rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5rem;
  column-gap: 4rem;
  flex: 1;

  p {
    font-size: 1.2rem;
  }

  img {
    width: 156px;
    height: 156px;
    filter: drop-shadow(1px 1px 3px rgb(34, 34, 34, 0.2))
  }
}

#bottom-row {
  grid-column: 1 / 3;
  display: flex;

  .item-text {
    flex: 0.4;
  }
}

.info-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 5rem;
  width: 70%;
  align-self: center;
  border-radius: 48px;
  background: rgb(241,235,255);
  background: linear-gradient(141deg, rgb(241, 228, 255) 0%, rgb(255, 243, 249) 100%);
  box-shadow: 1px 1px 10px rgba(0,0,0,0.2);

  h1 {
    color: rgb(36, 36, 36);
    font-size: 5rem;
    text-align: center;
    margin-bottom: 3rem;
  }

  h2 {
    color: rgb(36, 36, 36);
    font-size: 2.5rem;
  }

  p {
    color: rgb(58, 58, 58);
    font-size: 1.4rem;
  }
}

.info-top {
  text-align: center;
  margin-bottom: 2rem;
}

.info-list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

@media screen and (max-width: 1060px) {
  .service-list {
    display: flex;
    flex-direction: column;
  }

  #bottom-row .item-text {
    flex: 1;
  }

  .info-section {
    padding: 3rem;
    width: 90%;

    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 2rem;
    }

    p {
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 760px) {
  .service-list {
    img {
      width: 128px;
      height: auto;
    }

    p {
      font-size: 1rem;
    }
  }

  .services {
    .item-container {
      h1 {
        font-size: 1.5rem;
      }
    }

    .title {
      margin-left: -11rem;

      h1 {
        font-size: 4rem;
      }
    }

    .circle {
      width: 140px;
      height: 140px;
    }
  }

  .info-section {
    h1 {
      font-size: 2.2rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 480px) {
  .service-list {
    img {
      width: 64px;
      height: auto;
    }

    p {
      font-size: 1rem;
    }
  }

  .services {
    padding: 1rem;

    .item-container {
      gap: 1rem;
  
      h1 {
        font-size: 1.2rem;
      }
  
      p {
        font-size: 0.8rem;
      }
    }

    .title {
      margin-left: -6rem;

      h1 {
        font-size: 2.5rem;
      }
    }

    .circle {
      width: 100px;
      height: 100px;
    }
  }

  .info-section {
    padding: 2rem;

    h1 {
      font-size: 1.5rem;
    }

    h2 {
      font-size: 1.2rem;
    }

    p {
      font-size: 1rem;
    }

    .info-list {
      gap: 2rem;
    }
  }
}